logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.pio/
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.*
!.env.example
*.local
.bolt/
push_*.ps1
commit_and_push.ps1
commit_and_push.bat
!commit_and_push_frontend.ps1
!commit_and_push_frontend.bat
